<section class="auth-wrapper">
    <md-content>
        <h1>Auth and Register</h1>

        <div class="login-wrapper">
            <div class="login-block">
                <md-card>

                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Sign in</span>
                        </md-card-title-text>
                    </md-card-title>

                    <form
                        novalidate
                        name="loginForm"
                        ng-submit="loginForm.$valid && auth.login()"
                        class="login__form"
                    >

                        <div ng-if="loginForm.$dirty && !loginForm.$valid" class="error__message">
                            <div>WRONG EMAIL OR PASSWORD.</div>
                        </div>

                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Email</label>
                            <input required
                                   type="email"
                                   ng-readonly="loginForm.$pending"
                                   ng-model="auth.email">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Password</label>
                            <input type="password"
                                   required
                                   ng-readonly="loginForm.$pending"
                                   ng-model="auth.pass">
                        </md-input-container>

                        <md-button  ng-disabled="loginForm.$pending"
                                    type="submit"
                                    class="md-raised md-warn">Sign In</md-button>
                    </form>
                </md-card>

            </div>

            <div class="login-block">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Sign up</span>
                        </md-card-title-text>
                    </md-card-title>

                    <form
                        novalidate
                        name="signUpForm"
                        ng-submit="signUpForm.$valid && auth.signup()"
                        class="login__form"
                    >

                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Email</label>
                            <input
                                ng-required
                                type="email"
                                ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"
                                name="reg_email"
                                ng-readonly="signUpForm.$pending"            
                                ng-model="auth.reg_email"
                                ng-model-options="{ updateOn: 'default blur', debounce: {'default': 300, 'blur': 0} }"
                                email-available
                                  >
                            <div
                                ng-messages="signUpForm.reg_email.$error"
                                style="color:maroon"
                                role="alert">
                                <div ng-message="pattern">You entered invalid email</div>
                                <div ng-message="required">You did not enter a field</div>
                                <div ng-message="emailAvailable">Email already exists</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Password</label>
                            <input
                                    type="password"
                                    name="reg_pass"
                                    ng-minlength="8"
                                    ng-maxlength="40"
                                    ng-readonly="signUpForm.$pending"
                                    required ng-model="auth.reg_pass">
                            <div
                                    ng-messages="signUpForm.reg_pass.$error"
                                    style="color:maroon"
                                    role="alert">
                                <div ng-message="required">You did not enter a field</div>
                                <div ng-message="minlength">Password too short</div>
                                <div ng-message="maxlength">Password too long</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Repeat password</label>
                            <input
                                    type="password"
                                    compare-to="auth.reg_pass"
                                    name="confirmPassword"
                                    required
                                    ng-readonly="signUpForm.$pending"
                                    ng-model="auth.regRepPass">
                            <div
                                    ng-messages="signUpForm.confirmPassword.$error"
                                    style="color:maroon"
                                    role="alert">
                                <div ng-message="required">You did not enter a field</div>
                                <div ng-message="compareTo">Must match the previous entry</div>
                            </div>
                        </md-input-container>

                        <md-button type="submit"
                                   ng-disabled="signUpForm.$pending"
                                   class="md-raised md-warn">Sign Up</md-button>
                    </form>
                </md-card>
            </div>
        </div>
    </md-content>
</section>