<section class="blog-wrapper" layout="column" flex layout-fill ng-cloak>

    <div class="blog-search">
        <md-input-container class="md-block">
            <label>Search</label>
            <input ng-model="blog.searchField">
        </md-input-container>
        <md-button
                class="md-raised"
                ng-click="blog.sortArticles()">
            Sort by Date <b>{{(!blog.sortReverse) ? '&#58132;' : '&#58133; ' }}</b>
        </md-button>
        <add-article></add-article>
    </div>

    <span class="empty-posts" ng-if="blog.posts.length < 1">Here nothing to it...</span>
    <div class="blog-content"  ng-if="blog.posts.length >= 1">
        <article ng-repeat="post in blog.posts | filter: blog.searchField | orderBy: 'created' : blog.sortReverse " >
            <div flex-xs layout="column">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">
                                 <md-input-container class="md-block" flex-gt-sm>
                                    <input
                                        type="text"
                                        ng-if="post.edit"
                                        ng-value="post.title"
                                        ng-model="blog.edit.title"
                                    >
                                  </md-input-container>
                                <a href="/post/{{post.id}}" ng-show="!post.edit" >{{post.title}}</a>
                            </span>
                        </md-card-title-text>
                    </md-card-title>

                    <md-card-content>
                        <md-input-container class="md-block"  ng-if="post.edit" flex-gt-sm>
                            <textarea
                                    ng-value="post.text"
                                    ng-model="blog.edit.text"
                                    ng-required="true"
                                    rows="5"
                                    md-select-on-focus
                            ></textarea>
                        </md-input-container>
                       <p ng-show="!post.edit"> {{post.text}}</p>
                       <p ng-show="!post.edit"> {{post.created}}</p>

                    </md-card-content>

                    <md-card-actions
                            layout="row"
                            layout-align="end center"
                            permission
                            permission-only="'AUTHORIZED'"
                    >
                        <md-button
                                ng-click="post.edit = true"
                                ng-show="!post.edit">Edit</md-button>
                        <md-button
                                ng-click="blog.removePost(post.id, post,$event)"
                                ng-show="!post.edit">Remove</md-button>

                        <md-button
                                ng-click="post.edit = false"
                                ng-show="post.edit">Cancel</md-button>
                        <md-button
                                ng-click="blog.editPost(post.id, post)"
                                ng-show="post.edit"
                                class="md-raised md-primary">Save</md-button>

                    </md-card-actions>

                </md-card>
            </div>
        </article>
    </div>

</section>