<md-toolbar class="md-warn">
    <div class="md-toolbar-tools post-view__header">
        <h2 class="md-flex">{{post.data.title}}</h2>
    </div>
</md-toolbar>

<md-content class="post-view_wrapper"  flex layout-padding>
    <div class="post-view__content">
        <p>{{post.data.text}}</p>
        <md-button
                permission
                permission-only="'AUTHORIZED'"
                class="md-raised md-primary"
                ng-click="post.remove(post.data.id, $event)"
        >
            Remove
        </md-button>
    </div>
</md-content>