@import "./mixin.scss";
@import "./_vars.scss";
.auth-wrapper {
  h1 {
    text-align: center;
  }
}
.error__message {
  margin-bottom: 20px;
  color: red
}
.login-wrapper {
  @include flex(flex-start, space-between, row);
  margin-top: 20px;
  .login-block {
    width: 50%;
    form, form>div {
      display: flex;
      flex-direction: column;
    }
    .login__form {
      align-items: center;
      md-input-container {
        width: 300px;
        margin: 10px 0;
      }
      button {
        margin-bottom: 20px;
      }
    }
  }
}