@import "./_vars.scss";
@import "./mixin.scss";
@import "./auth.scss";
html, body {
  margin: 0;
  padding: 0;
}
header  {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
  font-size: 26px;
  .nav-items {
    display: flex;
    justify-content: space-between;
  }
}
.blog-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  md-input-container{
    width: 500px;
  }
  button {
    height: 50px;
  }
}
.empty-posts {
  margin-top: 50px;
  font-size: 24px;
  text-transform: uppercase;
  font-style:italic;
}
.article-popup__form {
  min-width: 500px;
}
.post-view__header {
  justify-content: center;
}
.post-view_wrapper {
  display: flex;
  justify-content: center;
}
.post-view__content {
  width:795px;
  p {
    text-align: center;
  }
  button {
    float: right;
  }
}

.blog-wrapper {
  @include flexCenter();
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .blog-content {
    width: 795px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: #edeef0;
    article {
      min-width: 100%;
      text-align: center;
      a {
        font-weight: 700;
        text-decoration: none;
      }
      p {
        text-align: center;
      }
      md-card-actions {
        padding-top: 6px;
        border-top: 1px solid #edeef0;
      }
    }
  }
}