@mixin flex($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}
