<!doctype html>
<html lang="en" ng-app="blog">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JS test task</title>
    <link rel="stylesheet" href="/build/style.css">
    <link rel="stylesheet" href="/build/vendor.css">
</head>
<body>
<base href="/">
    <header ng-controller="authCtrl as auth">
        <md-toolbar>
            <div class="md-toolbar-tools nav-items">
                <a class="" href="/">Home </a>
                <div permission permission-only="'AUTHORIZED'" class="auth-header">
                    <span class="username">{{auth.username}}</span>
                    <md-button class="md-raised"
                               ng-click="auth.logout()">Logout</md-button>
                </div>
                <div permission permission-except="'AUTHORIZED'">
                    <p><a ui-sref="auth" class="">Auth</a></p>
                </div>
            </div>
        </md-toolbar>
    </header>

    <main ui-view></main>

    <script src="/build/vendor.js"></script>
    <script src="/build/app.js"></script>
</body>
</html>