<md-dialog aria-label="Add article">
    <form  name="articleForm"
           ng-cloak
           class="article-popup__form"
           ng-submit="popup.addPost()"
           novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add article</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Title</label>
                    <input ng-model="popup.article.title"
                           ng-minlength="3"
                           ng-maxlength="255"
                           ng-readonly="articleForm.$pending"
                           ng-required="true">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Text</label>
                    <textarea
                            ng-model="popup.article.text"
                            ng-readonly="articleForm.$pending"
                            ng-required="true"
                            rows="5"
                            md-select-on-focus
                    ></textarea>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="popup.cancel()">
               Cancel
            </md-button>
            <md-button
                    class="md-raised md-primary"
                    type="submit"
                    ng-disabled="articleForm.$invalid || articleForm.$pending">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>